/* .all {
  padding: 10px;
}

.NestedSelect {
  width: 300px;
  padding: 15px;
  background: #fafafa;
  box-shadow: 0px 18px 20px -10px rgb(196 196 196 / 82%);
  border-radius: 4px;
}

.NestedSelect label:hover {
  background-color: #a4c2d8;
}

.NestedSelect label {
  display: block;
  cursor: pointer;
  padding: 5px;
}

.NestedSelect input[type="radio"] {
  display: none;
}

.NestedSelect input[type="radio"] + span {
  display: block;
  padding-left: 0px;
  padding-right: 5px;
}

.NestedSelect div {
  margin-left: 15px;
}

.btnSupport {
  width: 240px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 4px;
}

.btnSupport:active,
.btnSupport:focus {
  border: 1px solid #2a8cd3 !important;
  color: #05558f !important;
}

.support {
  font-family: Mardoto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-right: 115px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.NestedSelect input[type="radio"]:checked + span {
  background-color: #a4c2d8;
}

#select {
  display: none;
}

#btnSelect:focus ~ #select {
  display: block;
} */

.checked {
  background-color: red;
}

.unchecked {
  background-color: yellow;
}
